/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/content/media/images/button_bg.png?1341247894') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus {
  outline: none;
}

/*
Content-Type: multipart/related; boundary="MYSEPARATOR"
 
--MYSEPARATOR
Content-Location: green_bullet
Content-Transfer-Encoding: base64
 
R0lGODlhBQAFAIAAADG2agAAACH5BAAAAAAALAAAAAAFAAUAAAIEhI+pWAA7
--MYSEPARATOR
Content-Location: green_bullet2
Content-Transfer-Encoding: base64
 
R0lGODlhBQAFAIAAADG2agAAACH5BAAGODAALAAAAAAFAAUAAAIEhI+pWAA7
--MYSEPARATOR--
*/
/* Markdown Extra produces tables with the "align" attribute.
   These three rules prevent the inheritied text-align property
   from overriding the correct alignment. */
/* line 31, sass/base.scss */
td[align=right] {
  text-align: right;
}

/* line 35, sass/base.scss */
td[align=left] {
  text-align: left;
}

/* line 39, sass/base.scss */
td[align=center] {
  text-align: center;
}

/* Font Stacks */
/* Colors */
/* Two classes to position <img>s in articles: */
/* line 81, sass/base.scss */
img.left, figure.left, figure.right, figure.center {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 87, sass/base.scss */
img.right, figure.right {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* line 93, sass/base.scss */
img.center, figure.center {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  width: 70%;
}

/* Two classes to position <figure>s in articles: */
/* line 103, sass/base.scss */
figure.left, figure.right, figure.center {
  border: 3px solid #f0f0f0;
  padding: 3px;
}
/* line 107, sass/base.scss */
figure.left a, figure.right a, figure.center a {
  width: inherit;
}
/* line 109, sass/base.scss */
figure.left a img, figure.right a img, figure.center a img {
  width: inherit;
  margin-bottom: 0.625em;
}
/* line 114, sass/base.scss */
figure.left figcaption, figure.right figcaption, figure.center figcaption {
  width: inherit;
  text-align: center;
}
/* line 117, sass/base.scss */
figure.left figcaption p, figure.right figcaption p, figure.center figcaption p {
  margin-bottom: 0px;
  line-height: 1.25em;
}

/* line 124, sass/base.scss */
figure.right {
  /* Obtain all the figure styling */
  /* And the correct position and margin */
}

/* line 134, sass/base.scss */
b, .bold {
  font-weight: 600;
}

/* line 138, sass/base.scss */
.grey {
  color: #999999;
}

/* line 142, sass/base.scss */
.italic {
  font-style: italic;
}

/* line 146, sass/base.scss */
.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-style: italic;
  opacity: 0.8;
  padding: 0 1px;
}

/* line 154, sass/base.scss */
ul {
  margin-bottom: 1.25em;
  margin-left: 1.25em;
}
/* line 157, sass/base.scss */
ul li {
  background: url(data:image/gif;base64,R0lGODlhBQAFAIAAADG2agAAACH5BAAAAAAALAAAAAAFAAUAAAIEhI+pWAA7) no-repeat 2px 12px;
  *background: url(mhtml:/media/css/screen.css?green_bullet) no-repeat 2px 12px;
  padding-left: 14px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 0.625em;
}
/* line 165, sass/base.scss */
ul li p {
  font-size: 100%;
  line-height: 1.75em;
}
/* line 172, sass/base.scss */
ul li ul li {
  font-size: 100%;
}
/* line 179, sass/base.scss */
ul li p:first-child {
  margin-bottom: 0;
}
/* line 184, sass/base.scss */
ul li p:not(:first-child), ul li table {
  margin-left: 2em;
}
/* line 189, sass/base.scss */
ul li p:not(:first-child):not(:last-child) {
  margin-bottom: 0.625em;
}
