/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/content/media/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, button:focus {
  outline: none;
}

/* line 19, sass/base.scss */
.bold {
  font-weight: 600;
}

/* line 3, sass/screen.scss */
::selection, ::-moz-selection, ::-webkit-selection {
  background: #d6edf3;
}

/* line 9, sass/screen.scss */
body {
  border-top: 0.5em solid #31b66a;
  font-family: 'HelveticaNeue', Arial, sans-serif;
  font-weight: 300;
  color: #333;
}

/* line 16, sass/screen.scss */
h1 {
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1.25em;
}

/*
h1.byline {
  margin-bottom: 0;
}
*/
/* line 29, sass/screen.scss */
h2 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.625em;
}

/* line 35, sass/screen.scss */
p {
  font-size: 1.125em;
  margin-bottom: 1.25em;
  line-height: 1.75em;
}

/* line 41, sass/screen.scss */
p.byline {
  font-family: 'HelveticaNeue-Bold';
  text-transform: uppercase;
  font-size: .75em;
  color: #aaa;
}

/* line 48, sass/screen.scss */
p.blurb {
  font-size: 1.25em;
  font-style: italic;
  font-family: 'Palatino-Italic';
  line-height: 2em;
  color: #555;
}

/* line 56, sass/screen.scss */
button {
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #69fda9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #c4efd6), color-stop(50%, #7cdca5), color-stop(50%, #70d89c), color-stop(100%, #98e3b8));
  background-image: -webkit-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: -moz-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: -o-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: -ms-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  border-color: #4bcf84;
  text-shadow: #b5fed4 0px 1px 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.703) 0 0 0.1em 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.703) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.703) 0 0 0.1em 1px inset;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-weight: 300;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button, button:visited {
  color: #222222;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus {
  background-color: #5afda0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #b8ecce), color-stop(50%, #70d89c), color-stop(50%, #63d594), color-stop(100%, #8ce0b0));
  background-image: -webkit-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: -moz-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: -o-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: -ms-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  border-color: #3fcb7b;
  text-shadow: #a6fecc 0px 1px 1px;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:active {
  background-color: #4bfd97;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70d89c), color-stop(30%, #78dba2), color-stop(50%, #67d697), color-stop(50%, #5bd38f), color-stop(100%, #90e1b3));
  background-image: -webkit-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: -moz-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: -o-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: -ms-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  border-color: #35c673;
  text-shadow: #97fec3 0px -1px -1px;
  -webkit-box-shadow: #4bcf84 0 0.08em 0.2em 1px inset;
  -moz-box-shadow: #4bcf84 0 0.08em 0.2em 1px inset;
  box-shadow: #4bcf84 0 0.08em 0.2em 1px inset;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited {
  color: #222222;
}

/* line 61, sass/screen.scss */
code {
  background: #e0e0e0;
  font-family: Monaco, Courier, "Courier New", monospace;
  font-size: .875em;
  padding: 2px;
  color: #16522f;
}

/* line 69, sass/screen.scss */
pre {
  display: block;
  background: #e0e0e0;
  line-height: 1.75em;
  margin-bottom: 1.25em;
  padding: 5px;
}
/* line 75, sass/screen.scss */
pre code {
  color: #444;
}

/* line 80, sass/screen.scss */
blockquote {
  background: #ecfaf2;
  padding: 10px;
  border-left: 5px solid #9ce4bb;
  margin-bottom: 1.25em;
}

/* line 87, sass/screen.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 91, sass/screen.scss */
blockquote span {
  display: block;
  text-align: right;
  font-family: 'HelveticaNeue-LightItalic';
  color: #555;
}

/* line 98, sass/screen.scss */
a, a:visited {
  color: #31b66a;
  text-decoration: none;
  border-bottom: 1px dotted #bbb;
}

/* line 104, sass/screen.scss */
a:hover, a:active {
  color: #1b663b;
  border-bottom: 1px solid #bbb;
}

/* line 109, sass/screen.scss */
ul.tags {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
ul.tags:after {
  content: "";
  display: table;
  clear: both;
}
/* line 111, sass/screen.scss */
ul.tags li {
  display: inline;
  float: left;
  margin-right: 1em;
}

/* line 118, sass/screen.scss */
header {
  background-color: #ecfaf2;
}
/* line 120, sass/screen.scss */
header #header_inner {
  width: 43.75em;
  margin: 0px auto;
  padding: 2em;
  margin-bottom: 2.5em;
}
/* line 124, sass/screen.scss */
header #header_inner h1 {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  margin-bottom: .5em;
}
/* line 128, sass/screen.scss */
header #header_inner h1 a {
  border-bottom: none;
}
/* line 131, sass/screen.scss */
header #header_inner h1 span {
  color: #aaaaaa;
}
/* line 134, sass/screen.scss */
header #header_inner h1 span:first-child {
  color: #31b66a;
  font-weight: bold;
}
/* line 139, sass/screen.scss */
header #header_inner p {
  margin: 0;
}

/* line 145, sass/screen.scss */
#main {
  width: 43.75em;
  margin: 0px auto;
  padding: 0em 2em;
}

/* line 150, sass/screen.scss */
footer {
  width: 43.75em;
  margin: 0px auto;
  padding: 0em 2em 5em 2em;
}
