/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/content/media/images/button_bg.png?1341247894') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, button:focus {
  outline: none;
}

/*
Content-Type: multipart/related; boundary="MYSEPARATOR"
 
--MYSEPARATOR
Content-Location: green_bullet
Content-Transfer-Encoding: base64
 
R0lGODlhBQAFAIAAADG2agAAACH5BAAAAAAALAAAAAAFAAUAAAIEhI+pWAA7
--MYSEPARATOR
Content-Location: green_bullet2
Content-Transfer-Encoding: base64
 
R0lGODlhBQAFAIAAADG2agAAACH5BAAGODAALAAAAAAFAAUAAAIEhI+pWAA7
--MYSEPARATOR--
*/
/* Markdown Extra produces tables with the "align" attribute.
   These three rules prevent the inheritied text-align property
   from overriding the correct alignment. */
/* line 31, sass/base.scss */
td[align=right] {
  text-align: right;
}

/* line 35, sass/base.scss */
td[align=left] {
  text-align: left;
}

/* line 39, sass/base.scss */
td[align=center] {
  text-align: center;
}

/* Font Stacks */
/* Colors */
/* Two classes to position <img>s in articles: */
/* line 81, sass/base.scss */
img.left, figure.left, figure.right {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 87, sass/base.scss */
img.right, figure.right {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* Two classes to position <figure>s in articles: */
/* line 96, sass/base.scss */
figure.left, figure.right {
  border: 3px solid #f0f0f0;
  padding: 3px;
}
/* line 100, sass/base.scss */
figure.left a, figure.right a {
  width: inherit;
}
/* line 102, sass/base.scss */
figure.left a img, figure.right a img {
  width: inherit;
  margin-bottom: 0.625em;
}
/* line 107, sass/base.scss */
figure.left figcaption, figure.right figcaption {
  width: inherit;
  text-align: center;
}

/* line 113, sass/base.scss */
figure.right {
  /* Obtain all the figure styling */
  /* And the correct position and margin */
}

/* line 119, sass/base.scss */
b, .bold {
  font-weight: 600;
}

/* line 123, sass/base.scss */
.grey {
  color: #999999;
}

/* line 127, sass/base.scss */
.italic {
  font-style: italic;
}

/* line 131, sass/base.scss */
.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-style: italic;
  opacity: 0.8;
  padding: 0 1px;
}

/* line 139, sass/base.scss */
ul {
  margin-bottom: 1.25em;
  margin-left: 1.25em;
}
/* line 142, sass/base.scss */
ul li {
  background: url(data:image/gif;base64,R0lGODlhBQAFAIAAADG2agAAACH5BAAAAAAALAAAAAAFAAUAAAIEhI+pWAA7) no-repeat 2px 12px;
  *background: url(mhtml:/media/css/screen.css?green_bullet) no-repeat 2px 12px;
  padding-left: 14px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 0.625em;
}
/* line 150, sass/base.scss */
ul li p {
  font-size: 100%;
  line-height: 1.75em;
}
/* line 157, sass/base.scss */
ul li ul li {
  font-size: 100%;
}
/* line 164, sass/base.scss */
ul li p:first-child {
  margin-bottom: 0;
}
/* line 169, sass/base.scss */
ul li p:not(:first-child), ul li table {
  margin-left: 2em;
}
/* line 174, sass/base.scss */
ul li p:not(:first-child):not(:last-child) {
  margin-bottom: 0.625em;
}

/* line 3, sass/screen.scss */
::selection, ::-moz-selection, ::-webkit-selection {
  background: #d6edf3;
}

/* line 7, sass/screen.scss */
html {
  overflow-y: scroll;
}

/* line 11, sass/screen.scss */
body {
  min-width: 47.75em;
  border-top: 0.5em solid #31b66a;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
}

/* line 20, sass/screen.scss */
h1 {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 0.625em;
}

/* line 28, sass/screen.scss */
h1.title {
  margin-bottom: 0.313em;
}

/* line 32, sass/screen.scss */
h2 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Bold Condensed" "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 900;
  margin: 1.563em 0 0.625em 0;
}

/* line 39, sass/screen.scss */
p {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 1.25em;
}

/* line 46, sass/screen.scss */
p.dateline, span.dateline {
  text-rendering: optimizeLegibility;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-size: .75em;
  color: #999999;
  margin-bottom: 0.313em;
}
/* line 55, sass/screen.scss */
p.dateline a, span.dateline a {
  text-transform: none;
}

/* line 60, sass/screen.scss */
p.tagline {
  color: #555;
  font-size: 1.25em;
  line-height: 1.5em;
}

/* line 66, sass/screen.scss */
p.update {
  background-color: #cfe4d8;
  padding: 10px;
}

/* line 71, sass/screen.scss */
p.update:last-child {
  margin-bottom: 0;
}

/* line 75, sass/screen.scss */
figcaption {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: .85em;
  line-height: 1.25em;
}

/* line 81, sass/screen.scss */
button {
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #69fda9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #c4efd6), color-stop(50%, #7cdca5), color-stop(50%, #70d89c), color-stop(100%, #98e3b8));
  background-image: -webkit-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: -moz-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: -o-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: -ms-linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  background-image: linear-gradient(#ffffff, #c4efd6 10%, #7cdca5 50%, #70d89c 50%, #98e3b8);
  border-color: #4bcf84;
  text-shadow: #b5fed4 0px 1px 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.703) 0 0 0.1em 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.703) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.703) 0 0 0.1em 1px inset;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-weight: 300;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button, button:visited {
  color: #222222;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus {
  background-color: #5afda0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #b8ecce), color-stop(50%, #70d89c), color-stop(50%, #63d594), color-stop(100%, #8ce0b0));
  background-image: -webkit-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: -moz-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: -o-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: -ms-linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  background-image: linear-gradient(#ffffff, #b8ecce 10%, #70d89c 50%, #63d594 50%, #8ce0b0);
  border-color: #3fcb7b;
  text-shadow: #a6fecc 0px 1px 1px;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:active {
  background-color: #4bfd97;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70d89c), color-stop(30%, #78dba2), color-stop(50%, #67d697), color-stop(50%, #5bd38f), color-stop(100%, #90e1b3));
  background-image: -webkit-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: -moz-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: -o-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: -ms-linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  background-image: linear-gradient(#70d89c, #78dba2 30%, #67d697 50%, #5bd38f 50%, #90e1b3);
  border-color: #35c673;
  text-shadow: #97fec3 0px -1px -1px;
  -webkit-box-shadow: #4bcf84 0 0.08em 0.2em 1px inset;
  -moz-box-shadow: #4bcf84 0 0.08em 0.2em 1px inset;
  box-shadow: #4bcf84 0 0.08em 0.2em 1px inset;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited {
  color: #222222;
}

/* line 86, sass/screen.scss */
code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fafafa;
  border: 1px solid #ddd;
  font-family: Monaco, Courier, "Courier New", monospace;
  font-size: .875em;
  padding: 2px;
  white-space: nowrap;
}

/* line 97, sass/screen.scss */
div.codehilite pre, pre {
  overflow-x: auto;
  display: block;
  font-family: Monaco, Courier, "Courier New", monospace;
  margin: 0 1.5em 1.25em 1.5em;
  background: #f7f7f7;
  border: 1px solid #c8c8c8;
  border-left-width: 8px;
  line-height: 1.75em;
  padding: 10px;
}
/* line 108, sass/screen.scss */
div.codehilite pre code, pre code {
  color: #444;
  font-size: 1em;
}

/* line 114, sass/screen.scss */
blockquote {
  background-color: #ecfaf2;
  padding: 1em;
  font-family: 'HelveticaNeue-LightItalic';
  margin: 0 2.5em 1.25em 2.5em;
  border: 1px solid #9ce4bb;
  border-left-width: 8px;
}

/* line 125, sass/screen.scss */
blockquote p {
  text-indent: -0.5em;
  margin-bottom: 0.625em;
}

/* line 130, sass/screen.scss */
blockquote p:last-child {
  margin-bottom: 0;
  text-indent: 0;
}

/* line 135, sass/screen.scss */
blockquote em {
  display: block;
  font-family: 'HelveticaNeue';
  text-align: right;
  margin-right: 8px;
  color: #555;
}

/* line 143, sass/screen.scss */
a, a:visited {
  color: #31b66a;
  text-decoration: none;
  border-bottom: 1px dotted #bbb;
}

/* line 149, sass/screen.scss */
a:hover, a:active {
  color: #268e53;
  border-bottom: 1px solid #bbb;
}

/* line 156, sass/screen.scss */
a img, a:visited img {
  border: none;
  vertical-align: top;
}

/* line 163, sass/screen.scss */
h1.title a, h1.title a:visited, h1.title a:hover, h1.title a:active, h1 a, h1 a:visited, h1 a:hover, h1 a:active, h2 a, h2 a:visited, h2 a:hover, h2 a:active, h3 a, h3 a:visited, h3 a:hover, h3 a:active, h4 a, h4 a:visited, h4 a:hover, h4 a:active {
  color: #333;
  text-decoration: none;
  border-bottom-width: 0;
}

/* line 170, sass/screen.scss */
strong, b {
  font-weight: 600;
}

/* line 174, sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 202, sass/screen.scss */
table {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
}

/* line 207, sass/screen.scss */
th, td {
  background: #b0eac9;
  line-height: 1em;
  padding: 6px 10px;
  border-bottom: 1px solid white;
}

/* line 214, sass/screen.scss */
th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid white;
}

/* line 218, sass/screen.scss */
td {
  background: #ecfaf2;
}

/* line 222, sass/screen.scss */
ul.tags {
  *zoom: 1;
  margin-bottom: 0;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
ul.tags:after {
  content: "";
  display: table;
  clear: both;
}
/* line 225, sass/screen.scss */
ul.tags li {
  display: inline;
  float: left;
  margin-right: 1em;
}

/* line 233, sass/screen.scss */
body > header {
  min-width: 47.75em;
  background-color: #ecfaf2;
}
/* line 236, sass/screen.scss */
body > header #header_inner {
  width: 43.75em;
  margin: 0px auto;
  padding: 2em;
  margin-bottom: 2.5em;
}
/* line 240, sass/screen.scss */
body > header #header_inner h1 {
  /* text-shadow: 0px 2px 0px #fff; */
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  margin-bottom: .5em;
}
/* line 245, sass/screen.scss */
body > header #header_inner h1 a {
  border-bottom: none;
}
/* line 248, sass/screen.scss */
body > header #header_inner h1 span {
  color: #aaa;
}
/* line 251, sass/screen.scss */
body > header #header_inner h1 span:first-child {
  color: #31b66a;
  font-weight: bold;
}
/* line 256, sass/screen.scss */
body > header #header_inner p {
  margin: 0;
}

/* line 262, sass/screen.scss */
#header_inner_2 {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header_inner_2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 266, sass/screen.scss */
#title {
  display: inline;
  float: left;
  width: 21.875em;
  margin-right: 4em;
}
/* line 270, sass/screen.scss */
#title div {
  display: inline;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
/* line 276, sass/screen.scss */
#title img {
  width: 58px;
  height: 58px;
  border: 1px solid #aaa;
}

/* line 283, sass/screen.scss */
#nav {
  display: inline;
  float: left;
  width: 17.875em;
}
/* line 286, sass/screen.scss */
#nav ul {
  *zoom: 1;
  margin: .7em 0 0 0;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#nav ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 289, sass/screen.scss */
#nav ul li {
  background: none;
  padding-left: 0;
  display: inline;
  float: left;
  width: 6em;
  margin-bottom: 1em;
}
/* line 296, sass/screen.scss */
#nav ul li a {
  display: block;
  text-align: center;
  padding: 7px 0 5px 0;
  background: #c4efd6;
  border-bottom-width: 0px;
}
/* line 303, sass/screen.scss */
#nav ul li a:hover {
  background: #a8e8c3;
}
/* line 306, sass/screen.scss */
#nav ul li a:active {
  position: relative;
  top: 2px;
}
/* line 311, sass/screen.scss */
#nav ul li:nth-child(2n+1) {
  margin-right: 2em;
}

/* line 317, sass/screen.scss */
#main {
  width: 43.75em;
  margin: 0px auto;
  padding: 0em 2em;
}

/* line 322, sass/screen.scss */
footer {
  width: 43.75em;
  margin: 0px auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 4px solid #eee;
}
/* line 328, sass/screen.scss */
footer p {
  text-align: center;
  font-size: 0.875em;
  line-height: 1.15em;
}
/* line 333, sass/screen.scss */
footer p:first-child {
  margin-top: 2em;
}

/* line 338, sass/screen.scss */
article {
  margin-bottom: 1.875em;
}

/* line 342, sass/screen.scss */
#comments, #comments_omitted {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #f3f3f3;
  padding: 15px;
  margin-top: 30px;
}

/* line 349, sass/screen.scss */
#comments_omitted {
  display: none;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  /* line 3, sass/media-queries.scss */
  #nav {
    display: block;
    width: 100%;
  }

  /* line 4, sass/media-queries.scss */
  #nav ul {
    margin-top: 1.5em;
  }
  /* line 6, sass/media-queries.scss */
  #nav ul li {
    margin-right: 2em !important;
  }
}
@media only print {
  /* line 20, sass/media-queries.scss */
  #nav, #comments, #comments_omitted {
    display: none;
  }

  /* line 21, sass/media-queries.scss */
  #comments_omitted {
    display: block;
  }
}
