<!doctype html>
<head>
  {% block starthead %}
  {% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <!-- encoding must be specified within the first 512 bytes
        www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

  <!-- meta element for compatibility mode needs to be before
        all elements except title & meta
        msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
  <!-- Chrome Frame is only invoked if meta element for
        compatibility mode is within the first 1K bytes
        code.google.com/p/chromium/issues/detail?id=23003 -->

  <title>{% block title %}{{ resource.meta.title }} | Verdant Refuge ☘{% endblock %}</title>
  <meta name="description" content="{% if resource.meta.tagline -%}
                                      {{ resource.meta.tagline }}
                                    {%- else -%}
                                      {{ resource.meta.description }}
                                    {%- endif %}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{ resource.meta.viewport }}">

  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/screen.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}">
  {% endblock css %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
    <script src="{{ media_url('js/libs/modernizr-2.5.3.min.js') }}"></script>
  {% endblock headjs %}
  
  {% block endhead %}
  {% endblock endhead %}
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33660357-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <header>
    <div id="header_inner">
      <div id="header_inner_2">
        <div id="title">
          <h1>
            <a href="/"><span>Verdant</span><span>Refuge</span></a>
          </h1>
          <div>
            <a href="/about/">
              <img src="{{ media_url('images/pickelman.png') }}" alt="Jeff Pickelman" title="Jeff Pickelman" />
            </a>
          </div>
          <p>I'm <a href="/about/">Jeff Pickelman</a>, a full-stack<br />web developer.  I built <a href="http://www.songed.com/">Songed</a>.</p>
        </div>
        <div id="nav">
          <nav>
            <ul>
              <li><a href="/about/">About</a></li>
              <li><a href="/writing/">Writing</a></li>
              <li><a href="/projects/">Projects</a></li>
              <li><a href="/links/">Resources</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div id="main" role="main">
    {% mark content %}
    {% block content %}{% endblock content%}
    {% endmark %}
  </div>
  <footer>
    <p class="">
{% filter markdown|typogrify %}

I'm also on
{% import "macros.j2" as macros with context %}
{{ macros.render_social_list() }}

{% endfilter %}
    </p>
    <p class="">Copyright &copy; 2012 Jeff Pickelman.</p>
  </footer>
  
  {% block js %}
    <!-- Javascript at the bottom for fast page loading -->
    
    {% block jquery %}
      <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js">\x3C/script>')</script>
    {% endblock jquery %}
    
    <script src="{{ media_url('js/libs/jquery.timeago.js') }}"></script>
    <script src="{{ media_url('js/global.js') }}"></script>
    
    <script>
    {% block scripts %}
    {% endblock scripts %}
    </script>
  {% endblock js %}
</body>
</html>