{% extends "base.j2" %}

{% block content %}

<article>

{% with %}
  {% set res = resource %}
  {% include "blog-header.j2" %}
{% endwith %}

{% filter markdown -%}
{% block entry %}
Entry block here.
{% endblock entry %}
{%- endfilter %}

</article>

{% endblock content %}



{# Helpful code for getting the hang of tagging:
<ul class="tags">
{% for tag in resource.meta.tags -%}
  <li><button>{{ tag }}</button></li>
{%- endfor %}
</ul>


<h1>Tags:</h1>
<!-- You can grab the list of all tags ... -->
{% for tag, meta in site.tagger.tags %}
  <h3>*{{ tag }}* ({{ meta }})</h3>

<!-- ... and get all resurces tagged with that node. -->
{% for res in resource.node.walk_resources_tagged_with(tag) %}
  * [{{ res.slug|capitalize|replace("-"," ") }}]({{ res.full_url }}) \
    ({{ res.name }})
{% endfor %}
  <br />
{% endfor %}
#}





