{% extends "base.j2" %}

{% block content %}

<article>

{% with %}
  {% set res = resource %}
  {% include "blog-header.j2" %}
{% endwith %}

{% filter markdown|typogrify -%}
{% block entry %}
Entry block here.
{% endblock entry %}
{%- endfilter %}

<section id="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* CONFIGURATION VARIABLES */
    var disqus_shortname = 'verdantrefuge';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
<div id="comments_omitted">(Comments omitted for printing)</div>

</article>

{# Next/Previous article functionality - not live for now.
{% if resource.prev_by_time %}
  <p>&lt; Previous: <a href="{{ resource.prev_by_time.full_url }}">{{ resource.prev_by_time.meta.title }}</a></p>
{% endif %}

{% if resource.next_by_time %}
  <p>&gt; Next: <a href="{{ resource.next_by_time.full_url }}">{{ resource.next_by_time.meta.title }}</a></p>
{% endif %}
#}

{% endblock content %}



{# Helpful code for getting the hang of tagging:
<ul class="tags">
{% for tag in resource.meta.tags -%}
  <li><button>{{ tag }}</button></li>
{%- endfor %}
</ul>


<h1>Tags:</h1>
<!-- You can grab the list of all tags ... -->
{% for tag, meta in site.tagger.tags %}
  <h3>*{{ tag }}* ({{ meta }})</h3>

<!-- ... and get all resurces tagged with that node. -->
{% for res in resource.node.walk_resources_tagged_with(tag) %}
  * [{{ res.slug|capitalize|replace("-"," ") }}]({{ res.full_url }}) \
    ({{ res.name }})
{% endfor %}
  <br />
{% endfor %}
#}





