{% macro render_social_list() -%}
  {% for social_item in social -%}
    {% if loop.last %}and {% endif -%}
    [{{ social_item.name }}]({{ social_item.link }} "{{ social_item.title}}")
    {%- if loop.last %}.{% else %}, {% endif %}
  {%- endfor %}
{%- endmacro %}
