---
title: Resources
description: These are various links I have collected over time, sorted by category. They are resources I may refer to in the future.
date: July 20, 2012
is_processable: true
---

{% filter markdown|typogrify %}

# Resources

This is a list of articles that I have either read and found valuable, or I have only skimmed and and to refer back to at some point in the future.

Instead of using a service such a [Delicious][], I decided to curate a list on my own website. This provides several advantages -- I can control the look and feel of my content 100%, and I can add comments and analysis to each entry as I see fit, and I can edit off-line.

[Delicious]: http://delicious.com/ "Delicious Personal Content Aggregator"

The list is still relatively short at this time, so I have left it all on a single page. Soon enough I will design a way to pull each section apart to allow for the links to be more browsable!

{% include "/links/git.html" %}
{% include "/links/database.html" %}
{% include "/links/design.html" %}
{% include "/links/python.html" %}
{% include "/links/javascript.html" %}
{% include "/links/html_authoring.html" %}
{% include "/links/networking.html" %}
{% include "/links/coffee.html" %}
{% include "/links/food.html" %}

{% endfilter %}


