---
title: Resources
date: July 20, 2012
---

{% filter markdown %}

# Resources

This is a list of articles that I have either read and found valuable, or I have only skimmed and and to refer back to at some point in the future.

Instead of using a service such a [Delicious][], I decided to curate a list on my own website.  This provides several advantages: I can control the look and feel of my content 100%, and I can add comments and analysis to each entry as I see fit.

[Delicious]: http://delicious.com/ "Delicious Personal Content Aggregator"

The list is still relatively short at this time, so I have left it all on a single page.  Soon enough I will design a way to pull each section apart to allow for the links to be more browsable!

{% endfilter %}

<div class="list-with-information">
{% filter markdown %}
{% include "/links/git.html" %}
{% include "/links/database.html" %}
{% include "/links/design.html" %}
{% include "/links/javascript.html" %}
{% include "/links/html.html" %}
{% endfilter %}
</div>

