
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography/text/force-wrap";

@import "fancy-buttons";

/* Markdown Extra produces tables with the "align" attribute.
   These three rules prevent the inheritied text-align property
   from overriding the correct alignment. */
td[align=right] {
  text-align: right;
}

td[align=left] {
  text-align: left;
}

td[align=center] {
  text-align: center;
}

/* Font Stacks */
$helvetica-neue: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica-neue-bold: 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica-neue-condensed-bold: "HelveticaNeue-CondensedBold", "Helvetica Neue Bold Condensed" "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
$helvetica-neue-condensed-black: "HelveticaNeue-CondensedBlack", "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
$palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$monaco: Monaco, Courier, "Courier New", monospace;

/* Colors */
$green: #31b66a;
$light-green: #66e89e;
$grey: #999;
$blue-selection: #aedbe8;

$margin-bottom: 1.25em;

$content-width: 43.75em;
$gutter-width: 2em;
$total-width: $content-width + 2*$gutter-width;

@mixin centered-base {
  width: $content-width;
  margin: 0px auto;
}

@mixin legibility {
  text-rendering: optimizeLegibility;
}

@mixin float-left {
  display: inline;
  float: left;
}


/* Two classes to position <img>s in articles: */

img.left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

img.right {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}


/* Two classes to position <figure>s in articles: */

figure.left {
  @extend img.left;
  border: 3px solid #f0f0f0;
  padding: 3px;
  a {
    width: inherit;
    img {
      width: inherit;
      margin-bottom: $margin-bottom/2;
    }
  }
  figcaption {
    width: inherit;
    text-align: center;
  }
}

figure.right {
  @extend figure.left;  /* Obtain all the figure styling */
  @extend img.right;    /* And the correct position and margin */
}


b, .bold {
  font-weight: 600;
}

.grey {
  color: $grey;
}

.italic {
  font-style: italic;
}

.amp {
  font-family: $palatino;
  font-style: italic;
  opacity: 0.8;
}


ul {
  margin-bottom: $margin-bottom;
  margin-left: $margin-bottom;
  li {
    background: url('/media/images/green-bullet.png') no-repeat 2px 12px;
    padding-left: 14px;
    font-family: $palatino;
    font-size: 1.125em;
    line-height: 1.75em;
    p {
      // This makes it such that paragraphs within lists don't cause
      // CSS's cascading font-size with ems to make the text too big.
      font-size: 100%;
      line-height: 1.75em;
    }
    ul {
      li {
        // Ensure nested lists maintain correct font size
        font-size: 100%
      }
    }
    
    // No margin on the first child
    p:first-child {
      margin-bottom: 0;
    }
    
    // All but the first paragraph (and tables) should be indented
    p:not(:first-child), table {
      margin-left: 2em;
    }
    
    // All intermediary paragraphs should have a small margin
    p:not(:first-child):not(:last-child) {
      margin-bottom: $margin-bottom/2;
    }
  }
}



