
@media only screen and (max-width: 768px) {
  #nav { display: block; width: 100%; }
  #nav ul {
    margin-top: 1.5em;
    li {
      margin-right: 2em !important;
    }
  }
}

// http://elliotjaystocks.com/blog/css-transitions-media-queries/
// http://stackoverflow.com/questions/11320163/where-to-put-css3-media-queries

// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
//   background: #ddd;
// }

@media only print {
  #nav, #comments { display: none; }
  #comments_omitted { display: block; }
}