@import "base";

::selection, ::-moz-selection, ::-webkit-selection {
  background: lighten($blue-selection, 10%);
}

body {
  @include single-transition(all, .2s, ease-in-out);
  min-width: $total-width;
  border-top: .5em solid $green;
  font-family: $helvetica-neue;
  font-weight: 300;
  color: #333;
}

h1 {
  font-family: $helvetica-neue-bold;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: $margin-bottom/2;
}

h1.byline {
  margin-bottom: $margin-bottom/1.25;
  a {
    color: #333;
    text-decoration: none;
    border-bottom-width: 0;
  }
}

h2 {
  font-family: $helvetica-neue-condensed-bold;
  font-size: 1.3em;
  font-weight: 500;
  margin: $margin-bottom 0 $margin-bottom/2 0;
}

p {
  font-family: $palatino;
  font-size: 1.125em;
  margin-bottom: $margin-bottom;
  line-height: 1.75em;
}

p.byline, span.byline {
  @include legibility;
  font-family: $helvetica-neue-bold;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-size: .75em;
  color: #999;
  margin-bottom: $margin-bottom/4;
}

p.blurb {
  font-style: italic;
  color: #777;
}

button {
  @include fancy-button(lighten($green, 25%), .8em, .8em);
  font-weight: 300;
}

code {
  background: #f7f7f7;
  border: 1px solid #c8c8c8;
  font-family: $monaco;
  font-size: .875em;
  padding: 2px;
  // color: darken($green, 25%);
}

div.codehilite pre, pre {
  // @include force-wrap;
  overflow-x: auto;
  display: block;
  font-family: $monaco;
  margin: 0 1.5em $margin-bottom 1.5em;
  background: #f7f7f7;
  border: 1px solid #c8c8c8;
  border-left-width: 8px;
  line-height: 1.75em;
  padding: 10px;
  code {
    color: #444;
    font-size: 1em;
  }
}

blockquote {
  background: lighten($green, 50%);
  padding: 10px;
  font-family: 'HelveticaNeue-LightItalic';
  margin: 0 1.5em $margin-bottom 1.5em;
  border: 1px solid lighten($green, 20%);
  border-left-width: 8px;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote span {
  display: block;
  font-family: 'HelveticaNeue';
  text-align: right;
  margin-right: 8px;
  color: #555;
}

a, a:visited {
  color: $green;
  text-decoration: none;
  border-bottom: 1px dotted #bbb;
}

a:hover, a:active {
  color: darken($green, 20%);
  border-bottom: 1px solid #bbb;
}

strong {
  font-weight: 600;
}

ul {
  margin-bottom: $margin-bottom;
  margin-left: $margin-bottom;
  li {
    font-size: 1.125em;
    line-height: 1.75em;
  }
}

ul.tags {
  @include pie-clearfix;
  margin-bottom: 0;
  li {
    display: inline;
    float: left;
    margin-right: 1em;
  }
}


header {
  min-width: $total-width;
  background-color: lighten($green, 50%);
  #header_inner {
    @include centered-base;
    padding: 2em;
    margin-bottom: 2.5em;
    h1 {
      font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
      font-size: 2.5em;
      margin-bottom: .5em;
      a {
        border-bottom: none;
      }
      span {
        color: $grey;
      }
      span:first-child {
        color: $green;
        font-weight: bold;
      }
    }
    p {
      margin: 0;
    }
  }
}

#header_inner_2 {
  @include pie-clearfix;
}

#title {
  @include float-left;
  width: $content-width/2;
  margin-right: $gutter-width;
}

#nav {
  @include float-left;
  width: $content-width/2 - $gutter-width;
  ul.nav {
    @include pie-clearfix;
    margin: .5em 0 0 0;
    li {
      display: inline;
      float: left;
      width: 6em;
      margin-bottom: 1em;
      a {
        display: block;
        text-align: center;
        padding: 5px 0;
        background: lighten($green, 40%);
        border-bottom-width: 0px;
      }
    }
    li:nth-child(2n+1) {
      margin-right: 2em;
    }
  }
}

#main {
  @include centered-base;
  padding: 0em $gutter-width;
}

footer {
  @include centered-base;
  padding: 0em 2em 5em 2em;
}

