@import "base";

::selection, ::-moz-selection, ::-webkit-selection {
  background: lighten($blue-selection, 10%);
}

html {
  overflow-y: scroll; // Always show scroll bar
}

body {
  // @include single-transition(all, .2s, linear);  // ease-in-out
  min-width: $total-width;
  border-top: .5em solid $green;
  font-family: $helvetica-neue;
  font-weight: 300;
  color: #333;
}

h1 {
  font-family: $helvetica-neue-bold;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: $margin-bottom/2;
}

h1.title {
  margin-bottom: $margin-bottom/4;
}

h2 {
  font-family: $helvetica-neue-condensed-bold;
  font-size: 1.3em;
  font-weight: 900;
  margin: $margin-bottom*1.25 0 $margin-bottom/2 0;
}

p {
  font-family: $palatino;
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: $margin-bottom;
}

p.dateline, span.dateline {
  @include legibility;
  font-family: $helvetica-neue-bold;
  font-weight: 900;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-size: .75em;
  color: $grey;
  margin-bottom: $margin-bottom/4;
  a {
    text-transform: none;
  }
}

p.tagline {
  color: #555;
  font-size: 1.25em;
  line-height: 1.5em;
}

p.update {
  background-color: lighten(desaturate($green, 30%), 40%);
  padding: 10px;
}

p.update:last-child {
  margin-bottom: 0;
}

span.date {
  color: #ccc;
  font-size: 14px;
}

figcaption {
  font-family: $palatino;
  font-size: .85em;
  line-height: 1.25em;
}

button {
  @include fancy-button(lighten($green, 25%), .8em, .8em);
  font-weight: 300;
}

code {
  @include border-radius(2px);
  background: #fafafa;
  border: 1px solid #ddd;
  font-family: $monaco;
  font-size: .8em;
  padding: 2px;
  // This prevents <code> elements from spanning multiple lines:
  white-space: nowrap;
}

div.codehilite pre, pre {
  // @include force-wrap;
  overflow-x: auto;
  display: block;
  font-family: $monaco;
  margin-bottom: $margin-bottom;
  //margin: 0 1.5em $margin-bottom 1.5em;
  background: #f7f7f7;
  border: 1px solid #c8c8c8;
  border-left-width: 8px;
  line-height: 1.75em;
  padding: 10px;
  code {
    color: #444;
    font-size: .875em;
  }
}

blockquote {
  // background: url('/media/images/blockquote.png') no-repeat top left lighten($green, 50%);
  // padding: 1em 1em 1em 4em;
  background-color: lighten($green, 50%);
  padding: 1em;
  font-family: 'HelveticaNeue-LightItalic';
  margin-bottom: $margin-bottom;
  border: 1px solid lighten($green, 30%);
  border-left-width: 8px;
}

blockquote p {
  text-indent: -0.5em;
  margin-bottom: $margin-bottom/2;
}

blockquote p:last-child {
  margin-bottom: 0;
  text-indent: 0;
}

blockquote em {
  display: block;
  font-family: 'HelveticaNeue';
  text-align: right;
  margin-right: 8px;
  color: #555;
}

a, a:visited {
  color: $green;
  text-decoration: none;
  border-bottom: 1px dotted #bbb;
}

a:hover, a:active {
  color: darken($green, 10%);
  border-bottom: 1px solid #bbb;
}

// This removes the border-bottom on linked images
// From: http://stackoverflow.com/a/1992861
a img, a:visited img {
  border: none;
  vertical-align: top;
}

h1.title, h1, h2, h3, h4 {
  // Don't style links within headings (mostly used for anchors)
  a, a:visited, a:hover, a:active {
    color: #333;
    text-decoration: none;
    border-bottom-width: 0;
  }
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

//ul {
//  margin-bottom: $margin-bottom;
//  margin-left: $margin-bottom;
//  li {
//    background: url('/media/images/green-bullet.png') no-repeat 2px 12px;
//    padding-left: 14px;
//    font-family: $palatino;
//    font-size: 1.125em;
//    line-height: 1.75em;
//    p {
//      // This makes it such that paragraphs within lists don't cause
//      // CSS's cascading font-size with ems to make the text too large.
//      font-size: 100%;
//      line-height: 1.75em;
//    }
//    ul {
//      li {
//        // Ensure nested lists maintain correct font size
//        font-size: 100%
//      }
//    }
//  }
//}

table {
  margin-top: $margin-bottom/2;
  margin-bottom: $margin-bottom;
}

th, td {
  background: lighten($green, 35%);
  line-height: 1em;
  padding: 6px 10px;
  border-bottom: 1px solid lighten($green, 60%);
}

th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid lighten($green, 60%);
}

td {
  background: lighten($green, 50%);
}

ul.tags {
  @include pie-clearfix;
  margin-bottom: 0;
  li {
    display: inline;
    float: left;
    margin-right: 1em;
  }
}


body > header {
  min-width: $total-width;
  background-color: lighten($green, 50%);
  #header_inner {
    @include centered-base;
    padding: 2em;
    margin-bottom: 2.5em;
    h1 {
      /* text-shadow: 0px 2px 0px #fff; */
      font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
      font-size: 2.5em;
      margin-bottom: .5em;
      a {
        border-bottom: none;
      }
      span {
        color: #aaa;
      }
      span:first-child {
        color: $green;
        font-weight: bold;
      }
    }
    p {
      margin: 0;
    }
  }
}

#header_inner_2 {
  @include pie-clearfix;
}

#title {
  @include float-left;
  width: $content-width/2;
  margin-right: $gutter-width*2;
  div {
    @include float-left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  img {
    width: 58px;
    height: 58px;
    border: 1px solid #aaa;
  }
}

#nav {
  @include float-left;
  width: $content-width/2 - $gutter-width*2;
  ul {
    @include pie-clearfix;
    margin: .7em 0 0 0;
    li {
      background: none;
      padding-left: 0;
      display: inline;
      float: left;
      width: 6em;
      margin-bottom: 1em;
      a {
        display: block;
        text-align: center;
        padding: 7px 0 5px 0;
        background: lighten($green, 40%);
        border-bottom-width: 0px;
      }
      a:hover {
        background: lighten($green, 33%);
      }
      a:active {
        position: relative;
        top: 2px;
      }
    }
    li:nth-child(2n+1) {
      margin-right: 2em;
    }
  }
}

#main {
  @include centered-base;
  padding: 0em $gutter-width;
}

footer {
  @include centered-base;
  // padding: 2em 2em 5em 2em;
  margin-top: 2em;
  margin-bottom: 6em;
  border-top: 4px solid #eee;
  p {
    text-align: center;
    font-size: 0.875em;
    line-height: 1.15em;
  }
  p:first-child {
    margin-top: 2em;
  }
}

article {
  margin-bottom: $margin-bottom*1.5;
}

.read_more {
  font-family: $palatino;
  text-align: center;
  margin-bottom: $margin-bottom*1.5;
}

#comments {
  @include border-radius(5px);
  background: #f3f3f3;
  padding: 15px;
  margin-top: 30px;
}

#comments_omitted {
  @extend #comments;
  display: none;
  font-style: italic;
}

@import "media-queries";
